<div style="display: flex; flex-direction: row; justify-content: space-around;">
  <h3>Exemplos: </h3>
  <button mat-stroked-button (click)="carregar('cadastro')">cadastro</button>
  <button mat-stroked-button (click)="carregar('login')">login</button>
  <button mat-stroked-button (click)="carregar('processo')">processo</button>

</div>
<div class="flex-container">
  <div style="display: flex; flex-direction: row; justify-content: space-around;">
    <div style="display: flex; flex-direction: column;" >
        <h3>Definição do formulário</h3>
        <textarea matInput class="text-full" rows="10" [(ngModel)]="config" style="margin: 10px; border:solid 1px orange; width: 45vw;">  </textarea>
        <button mat-flat-button color="primary" (click)="updateForm()">Atualizar Formulário</button>
    </div>
    <div style="display: flex; flex-direction: column;" >
        <h3>Valor do formulário</h3>
        <textarea matInput class="text-full" rows="10" [(ngModel)]="valuesString" style="margin: 10px; border:solid 1px orange; width: 45vw;">  </textarea>
        <button mat-flat-button color="accent" (click)="loadData()">Carregar Dados</button>
    </div>
  </div>

  <div style="display: flex; flex-flow: row;">
      <div class="form" style="flex-grow: 1;">
        <div style="text-align:center">
          <h3> Exemplo de formulário </h3>
        </div>
        <dynamic-form [fields]="regConfig" (submit)="submit($event)" #dynForm>
        </dynamic-form>
      </div>

      <div>
          <h3>Valor atual do Formulário</h3>
          <mat-form-field class="text-form-value" style="max-width: 400px;">
            <textarea matInput [value]="getCurrentFormValue()" rows="20">  </textarea>
          </mat-form-field>
      </div>

      <!-- <div class="margin-top" >
        {{getCurrentFormValue()}}
      </div> -->
  </div>
</div>

